@keyframes navIcon-span-2 {
  0% {
    width: 30px;
  }

  50% {
    width: 20px;
  }

  100% {
    width: 30px;
  }
}

.nav-animation-2-span {
  animation: navIcon-span-2 1s ease-in-out;
}

@keyframes navIcon-span-3 {
  0% {
    width: 20px;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 20px;
  }
}

.nav-animation-3-span {
  animation: navIcon-span-3 1s ease-in-out;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 0.5s;
  opacity: 1;
}
.slide-fade-leave-active {
  transition: all 0.5s;
  opacity: 0;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-10px);
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
